.cadastro {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #111;
    color: #69779b;
}

h1 {
    color: #7579e7;
}

h3 {
    color: #69779b;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

div {
    margin-left: 35%;
    margin-right: 20%;
    margin-top: 5%;
}


/* Light mode */

body {
    background-color: #e8ffff;
    color: #213e3b;
}

h1 {
    color: #14274e;
}

h3 {
    color: #7579e7;
}


/* Dark mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #010101;
        color: #f0ece2;
    }
    h1 {
        color: #7579e7;
    }
    h3 {
        color: #69779b;
    }
    img {
        filter: brightness(0.9);
    }
}