.cadastro {
    font-family: Helvetica, sans-serif;
}

label {
    color: #cac4ce;
    margin-top: 10px;
    margin-bottom: 5px;
}


/* Dark mode */

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2330;
        color: #f0ece2;
    }

    label {
        color: #cac4ce;
    }

    img {
        filter: brightness(0.9);
    }
} */


@media (prefers-color-scheme: light) {
    body {
        background-color: #cac4ce;
    }

    label {
        color: #000000;
    }

}