/* Style the button that is used to open and close the collapsible content */

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
    background-color: #ccc;
}


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

.intro {
    font-family: Helvetica, sans-serif;
}

.listaFilmes {
    display: block;
}

h1 {
    color: #14274e;
}

h3 {
    color: #7579e7;
}


/* Light mode */

body {
    background-color: #e8ffff;
    color: #213e3b;
}

h1 {
    color: #14274e;
}

h3 {
    color: #7579e7;
}


/* Dark mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #010101;
        color: #f0ece2;
    }
    h1 {
        color: #7579e7;
    }
    h3 {
        color: #69779b;
    }
    img {
        filter: brightness(0.9);
    }
}