* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#sucesso {
    position: relative;
    height: 100vh;
}

#sucesso .sucesso {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sucesso {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.sucesso .sucesso-1 {
    position: relative;
    height: 240px;
}

.sucesso .sucesso-1 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
}

.sucesso .sucesso-1 h1>span {
    text-shadow: -8px 0px 0px #fff;
}

.sucesso .sucesso-1 h3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3c2828;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}

.sucesso h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .sucesso .sucesso-1 {
        height: 200px;
    }

    .sucesso .sucesso-1 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .sucesso .sucesso-1 {
        height: 162px;
    }

    .sucesso .sucesso-1 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }

    .sucesso h2 {
        font-size: 16px;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2330;
    }

    .sucesso .sucesso-1 h1>span {
        text-shadow: -8px 0px 0px #65677a;
    }

    .sucesso .sucesso-1 h3 {
        color: #ddf8e8;
        text-shadow: #65677a;
    }

    .sucesso h2 {
        color: #ddf8e8;
        text-shadow: #65677a;
    }

    span {
        color: #9fafbe;
    }

    h1 {
        color: #b1b2cc;
    }

    h2 {
        color: #7579e7;
    }

    h3 {
        color: #7579e7;
    }

    img {
        filter: brightness(0.9);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #cac4ce;
    }
}